.a {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
}
.b {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 200px;
	left: 200px;
}
.c {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: -202px;
	left: 200px;
}
.d {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 202px;
	left: 200px;
}
.e {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: -202px;
	left: 200px;
}
.f {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 202px;
	left: 200px;
}
.g {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: -202px;
	left: 200px;
}
.h {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 202px;
	left: 200px;
}
.i {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 195px;
	left: -1408px;
}
.j {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 200px;
	left: 200px;
}
.k {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: -200px;
	left: 200px;
}
.l {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 200px;
	left: 200px;
}
.m {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: -200px;
	left: 200px;
}
.n {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 200px;
	left: 200px;
}
.o {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: -200px;
	left: 200px;
}
.p {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 200px;
	left: 200px;
}
.q {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 195px;
	left: -1408px;
}
.r {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 200px;
	left: 200px;
}
.s {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: -200px;
	left: 200px;
}
.t {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 200px;
	left: 200px;
}
.u {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: -200px;
	left: 200px;
}
.v {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 200px;
	left: 200px;
}
.w {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: -200px;
	left: 200px;
}
.x {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 200px;
	left: 200px;
}
.y {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 195px;
	left: -1408px;
}
.z {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 200px;
	left: 200px;
}
.ab {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: -200px;
	left: 200px;
}
.bc {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 200px;
	left: 200px;
}
.cd {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: -200px;
	left: 200px;
}
.de {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 200px;
	left: 200px;
}
.ef {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: -200px;
	left: 200px;
}
.fg {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: black;
	border: 1px solid;
	top: 200px;
	left: 200px;
}
.table {
	width: 1608px;
	height: 1611px;
	border: 20px solid;
	border-color: brown;
	background-color: white;
}